* {
    font-family: Arial, Helvetica, sans-serif;
}

.padding-area {
    background-color: rgb(148 , 236, 148);
    border: 1px solid orangered;
    padding: 30px 0px;
}

.content {
    background-color: palevioletred;
    padding: 20px;
    border: 1px solid orangered;
    margin: 1px;
}

p {
    margin-left: 30px;
}
/* cndskml; */