p{
    margin-left: 30px;
}

h1 + p {
    font-style: italic;
}
h1 + p + p {
    color: darkgray;
}
h1 + p + p + p{
    color: darkgray;
}

h2 ~ p {
    text-decoration: underline;
}

h3 ~ p {
    color: blue;
    text-decoration: none;
}
h3 + p {
    color: black;
}
